body {
    margin: 0;
    padding: 0;
    background-color:blue;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100vh;
    
}

.calBody{
    margin: auto; /*centers horizontaly */
    height: 400px;
    width: 250px;
    background-color: rgb(214, 214, 150);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnHolder{
    flex: 5;
    /* height: 100px; */
    margin: 3px 5px 3px 5px;
    display: flex;
    flex-direction: column;
    padding: 10;
}
.btnHolder>div{
    flex: 1;
    display: flex;
}
button{
     /* max-width: 50px;
    max-height: 50px;  */
    flex: 1;
    margin: 3PX;
    border: solid gray 3px;
    border-radius: 5px;
    font-size: larger;
}
.screen{    
    background-color: aquamarine;
    border: solid black;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;   
    align-items: center; 
    flex: 1;
}

#displayText{
    margin: 0;
    font-size: xx-large;
    margin-right: 10px;
}